body{
  background-color:gray;
}

img{
  margin: auto;
  width: 400px;
}

.has-error input{
  border: solid 3px red;
}

a{
  color: white;
}

p{
  margin-bottom: 0;
}

#image{
    margin-top:3%;
}

.image{
  height: 100%;
}

#image img{
  height: 400px;
  width:auto;
}

#Message,#description,#commentaire{
  margin:auto;
  width:350px;
}

form p{
  color:orange;
  width:350px;
  margin:auto;
}

#logo{
  width:100px;
}

.navbar-brand{
  margin-left:15px;
}

nav div{
  margin-left:1%;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.navbar{
  padding:0;
}

.card{
  padding: 0;
  border:0;
  margin: 15px;
  background-color:inherit;
}

.card-title{
  margin-top:5%;
}

.card-title a{
  color:orange;
  font-size: 30px;
}

.card-img{
  margin:0;
  height: 300px;
  width: auto;
}

#submitPassword, #submit{
  margin:10px 0 10px 0;
}
#lien-admin a{
  margin:15px 0 15px 0;
}

.MDP{
  margin: 10px 0 10px 0;
}

div [class ~='tox']{
  width:350px;
}

.d-block{
  width: auto;
  height: 600px;
}

#carrousel{
  margin-top:20px;
}

@media screen and (max-width: 1000px){

  #Administration{
    display: none;
  }

  .navbar-toggler{
    margin-right: 5%;
  }

  .imageCarrousel img{
    height: 350px;
  }

}

@media screen and (max-width: 900px){

  .d-block{
    height: 400px;
  }

}

@media screen and (max-width: 800px){

  .imageCarrousel img{
    height: 300px;
  }

}

@media screen and (max-width: 700px){

    #portofolio{
      flex-direction: column;
      margin-left:20%;
    }

    #portofolio div{
      width:400px;
    }

    .card-title{
      margin:0;
      margin-top:25%;
    }

    .card-img{
      width:400px;
      height: auto;
    }

}

@media screen and (max-width: 650px){
  #portofolio{
    margin-left: 18%;
  }

  .d-block{
    height: 250px;
  }
}

@media screen and (max-width: 600px){
  #portofolio{
    margin-left: 15%;
  }
}

@media screen and (max-width: 550px){
  #portofolio{
    margin-left: 10%;
  }
}

@media screen and (max-width: 500px){
  #portofolio{
    margin-left: 4%;
  }

  #carrousel{
    margin-top:50px;
  }
}

@media screen and (max-width: 450px){

  #portofolio{
    flex-direction: column;
    margin-left:2%;
  }

  #portofolio div{
    width:400px;
  }

  .card-title{
    margin:0;
    margin-top:25%;
  }

  .card-img{
    width:400px;
    height: auto;
  }

  .imageCarrousel img{
    height: 200px;
  }

}

@media screen and (max-width: 425px){
  #portofolio{
    margin-left: 0;
  }
}

@media screen and (max-width: 375px){

  #portofolio div{
    width:300px;
  }

  #portofolio{
    margin-left: 5%;
  }

  .card-img{
    width:300px;
    height: auto;
  }
}

@media screen and (max-width: 360px){

  #commentaire,#description,div [class ~='tox']{
    width:300px;
  }

  input #submit{
    margin-bottom: 20px;
  }

  #image img{
    width:250px;
    height: auto;
  }

  #portofolio{
    margin-left: 3%;
  }

}

@media screen and (max-width: 320px){

  #portofolio div{
    width:250px;
  }

  #portofolio{
    margin-left: 5%;
  }

  .card-img{
    width:250px;
    height: auto;
  }

  .d-block{
    width: 100%;
    height: auto;
  }

}
