body{
  background-color:gray;
}

img{
  margin: auto;
  width: 400px;
}

.has-error input{
  border: solid 3px red;
}

a{
  color: white;
}

#image{
    margin-top:3%;
}

.image{
  height: 600px;
}

#Message,#description,#commentaire{
  margin:auto;
  width:350px;
}

form p{
  color:orange;
  width:350px;
  margin:auto;
}

#logo{
  width:100px;
}

nav div{
  margin-left:1%;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.navbar{
  padding:0;
}

.card{
  padding: 0;
  border:0;
  margin: 15px;
}

.card-title{
  margin-top:25%;
}

.card-title a{
  color:orange;
  font-size: 30px;
}

.card-img{
  margin:0;
}

#submitPassword{
  color:blue;
  margin:10px 0 50px 0;
}
